<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="styles/cover.css">
</head>
<body>
<div class="site-wrapper">

     <div class="site-wrapper-inner">

       <div class="cover-container">

         <div class="masthead clearfix">
           <div class="inner">
             <nav>
               <ul class="nav masthead-nav">
                 <li><a href="/auth/google">Sign In</a></li>
               </ul>
             </nav>
           </div>
         </div>

         <div class="inner cover">
           <h1 class="cover-heading">Agnition</h1>
           <p class="lead">Agnition is a platform for making informed decisions
            by running experiments in your life.</p>
           <p class="lead">
             <a href="#" class="btn btn-lg btn-default">Learn more</a>
           </p>
         </div>

         <div class="mastfoot">
           <div class="inner">
             <p>An app built by <a href="https://github.com/agnition/agnition">Agnition</a>.</p>
           </div>
         </div>

       </div>

     </div>

   </div>
<!-- <script src="./scripts/landingPage.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
