<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/cover.css">
</head>
<body>

  <div class="section header">
    <div class="container">
      <h1>Agnition</h1>
      <p>Agnition is a platform for making informed decisions through experimentation.</p>
      <a href="/auth/google">
        <button>Sign Up</button>
      </a>
      <!-- <img src="/images/arrow2.png" alt="flask"> -->
    </div>
  </div>

  <div class="section about">
    <div class="icons">
      <div class="icon-container">
        <img src="/images/flask.png" alt="flask">
        <p>Easy Experiment Creation</p>
      </div>
      <div class="icon-container">
        <img src="/images/shuffle.png" alt="shuffle">
        <p>Randomized Runs</p>
      </div>
      <div class="icon-container">
        <img src="/images/stats.png" alt="sigma">
        <p>Statistical Analysis</p>
      </div>
    </div>
  </div>

  <div class="section timeline">
    <div class="container">
      <div>
        <h1>Create</h1>
        <p>We make the experiment creation process easy and fast by walking you through the steps to create any experiment you wish to run. With our streamlined interface you’ll have an experiment in minutes.</p>
      </div>
      <img src="/images/arrow.png">
      <div>
        <h1>Run</h1>
        <p>When you want to run your experiment, we’ll randomize your variables for you. You run the experiment, and tell us what happened. </p>
      </div>
      <img src="/images/arrow.png">
      <div>
        <h1>Analyze</h1>
        <p>When you're done with an experiment, we'll provide statistical analysis and charts of your data for you to make a more informed decision based on the results. We perform an analysis of variance (ANOVA) on the data to let you know whether the results of your experiment are statistically significant.</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>
    Created by Agnition
    </p>
  </div>
</body>
</html>
