


/*****************************
*                            *
*          BUTTONS           *
*                            *
*****************************/

button {
  transition: 0.3s;
}

body {
  background: url("/images/pattern.png");
  background-size: 90px;
  background-repeat: repeat;
}

button.submit-button {
  border: 1px solid transparent;
  margin: 20px;
  color: white;
  background-color: #5AC45E;
  padding: .5em 1em;
  font-size: 24px;
  border-radius: 4px;
  align-self: baseline;
}

button.back-button {
  background-color : hsla(0, 0%, 95%, 1.0);
  color: hsla(0, 0%, 20%, 1.0);
  border-radius: 5px;
  padding: 0.5em 2em;
  font-size: 1em;
  align-self: baseline;
}
button.back-button:hover {
  background-color: hsla(0, 0%, 20%, 1.0);
  color: white;
}

button.next-button {
  background-color : hsla(0, 0%, 95%, 1.0);
  color: hsla(0, 0%, 20%, 1.0);
  border-radius: 5px;
  padding: 0.5em 2em;
  font-size: 1em;
  align-self: baseline;
}
button.next-button:hover {
  background-color: hsla(0, 0%, 20%, 1.0);
  color: white;
}

button.next-button.disabled {
  background-color: hsla(0, 0%, 95%, 1.0);
  color: hsla(0, 0%, 65%, 1.0);
  border: 1px solid transparent;
  cursor:default;
}

button.submit-button:hover {
  color: #5AC45E;
  border: 1px solid #5AC45E;
  background-color: transparent;
}

button {
  border : none;
  margin: 10px 10px 0px 0px;
  /* background-color: hsla(0, 0%, 95%, 1.0); */
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: hsla(0, 0%, 100%, 1.0);
  border: 1px solid hsla(0, 0%, 20%, 1.0);
  border-radius: 4px;
  padding: 5px 20px ;
  font-size: 24px;
  align-self: baseline;
}

button:focus {
  outline : none;
}

button.set-button {
  border-radius: 4px;
  align-self: baseline;
  font-size: 14px;
  margin-left: 10px ;
  background-color: hsla(0, 0%, 95%, 1.0);
}
button.set-button:hover{
  background-color : hsla(0, 0%, 20%, 1.0);
  color: hsla(0, 0%, 100%, 1.0);
}

.dashboard-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.add-new-exp, .go-to-exps {
  font-size: 24px;
  padding: 14px;
}

.back-next-row div button {
  margin : 20px ;
  padding : 5px 10px;
}

button.select-button {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: hsla(0, 0%, 100%, 1.0) ;
  border: 1px solid hsla(0, 0%, 20%, 1.0);
  border-radius: 4px;
  padding: 5px 20px ;
  font-size: 14px;
  align-self: baseline;
}

button.select-button.active {
  background-color: hsla(0, 0%, 20%, 1.0) ;
  color: white;
}

button.remove-button {
    background-color: #FE875B;
    font-size: 1em;
    padding: 0.1em .5em;
    color: white;
    border: none;
}

button.remove-button:hover {
  background-color: #FE6E38;
}

button.nav-button, .sample-submit-button {
  font-size: 1em;
  background-color: hsla(0, 0%, 95%, 1.0);
}
.sample-submit-button:hover {
  background-color: hsla(0, 0%, 20%, 1.0);
  color: white;
}

button.nav-button:hover {
  background-color: hsla(0, 0%, 20%, 1.0);
}

button.set-button a {
  color: rgb(51, 51, 51);
}

button.set-button:hover a {
  color: white;
}

button.nav-button:hover a {
  color: white;
}

button.nav-button a {
  color: rgb(51, 51, 51);
}

button.sample-submit-button {
  font-size: 1em;
  align-self: flex-end;
}

/*****************************
*                            *
*          TABLES            *
*                            *
*****************************/

table.nav-table td, table.nav-table th {
  padding: 5px 10px;
}

table.nav-table th {
  text-align: left;
}

table.nav-table tbody tr td:first-child {
  text-transform: capitalize;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.exps-table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 15px 10px;
}

.exps-table thead tr th {
  font-size: 24px;
  color: hsla(0, 0%, 30%, 1.0);
}

.exps-table tbody tr td {
  font-size: 20px;
  color: hsla(0, 0%, 30%, 1.0);
}

.exps-table{
  text-align: left;
  margin-bottom: 10px
}

.exps-table th {
  /* font-size: 10px; */
  padding: 3px;
}

.exps-table td {
  /* font-size: 10px; */
  padding: 3px;
}

.data-table thead {
}

.data-table thead tr {
 text-align: center;
 font-weight: bold;
 border-bottom: 2px solid black;
 vertical-align: bottom;
}

.data-table thead tr td {
  padding-bottom: .25em;

}

.data-table tbody tr {
  text-align: center;
  border-bottom: 1px solid grey;
}

.data-table tbody tr:last-child {
  border-bottom: none;
}

.data-table tbody tr td:first-child {
  font-weight: bold;
}

.data-table td {
  padding: .5em 1em;
  width: 15%;
}


/*****************************
*                            *
*          NAV BAR           *
*                            *
*****************************/

nav {
  margin-bottom : 10px;
  padding: 10px;
  width:100%;
  background-color: hsla(0, 0%, 20%, 1.0);
  display: flex ;
  flex-direction: row;
  justify-content: center;
  /* padding : 0 300px; */
  /* border-bottom: 2px solid black; */
}

nav a {
  margin: 10px 15px;
  color : white;
  font-size: 24px;
  font-weight: normal;
  /* font-weight: bold; */
  /* align-self: left; */
}

nav a:hover {
  /* color : hsla(210, 100%, 70%, 1); */
  /* font-weight: bold; */
  /* align-self: left; */
  color: white;
  text-decoration: underline;
}

nav a:active {
  /* color : hsla(210, 100%, 70%, 1); */
  /* font-weight: bold; */
  /* align-self: left; */
  color: white;
  text-decoration: underline;
}

/*****************************
*                            *
*          LINKS            *
*                            *
*****************************/

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
  color:#00A0C6;
  text-decoration:none;
  cursor:pointer;
}

li a {
  margin: 10px 5px;
}

/*****************************
*                            *
*          INPUTS            *
*                            *
*****************************/

input {
  margin-left : 10px ;
  margin-top : 10px ;
}

.dep-var-wrapper {
  background-color : hsla(0, 0%, 98%, 1.0);
  padding: 10px;
}

.measure-wrapper {
  background-color : hsla(0, 0%, 90%, 1.0);
  padding: 10px;
}

.measure {
  background-color : hsla(0, 0%, 85%, 1.0);
  padding: 10px;
  margin: 10px;
}

.ind-var-input input {
  display: block;
}
.add-option {
  display: flex;
  flex-direction: row;
}

.add-category {
  display: flex;
  flex-direction: row;
}

input.options {
  width: 50%;
  /* display: inline-block; */
}

.set-button.options {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}

input.input-text {
  margin-right: 1em;
}

.add-category {
  margin-bottom: 2em;
}

/*****************************
*                            *
*        DASHBOARD           *
*                            *
*****************************/

h2 {
  text-align: center
}

.dashboard {
  margin: 5px;
  /* margin: 0 auto; */
}

.dashboard h1 {
  text-align: center;
}

.dashboard-buttons {
  display: flex;
}

.section-block {
  display: flex;
  justify-content: center;
}

/*****************************
*                            *
*      SECTION INLINE        *
*                            *
*****************************/



.section-inline {
  display: flex;
}

/*****************************
*                            *
*           HEADERS          *
*                            *
*****************************/

h3.subsection-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: normal;
  /* text-align: center; */
}

.section-title {
  text-transform: capitalize;
  margin-bottom: 1em;
}

.rd3-chart-title {
  text-transform: capitalize;
  text-align: center;
}

/*****************************
*                            *
*      DEFINITIONS           *
*                            *
*****************************/

.definition-inline {
 color: #3888DF;
 /* font-style: italic; */
 font-weight: 400;
 text-align: center;
}

span.definition-label {
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    padding-right: 1em;
    text-align: left;
}

.definition-set {
  margin-left: 2em;
}

/*****************************
*                            *
*          GUIDE             *
*                            *
*****************************/

/*.guide {
  font-style: italic;
  padding: 0.5em 0.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid #F8ECA7;
  align-self: baseline;
}*/

.guide{
  color: hsla(0, 0%, 20%, 1.0);
  font-weight: bold;
  /* padding: 0.5em 0.5em; */
  /* background-color: rgb(185, 216, 233); */
  /* font-size: larger; */
  border-radius: 8px;
  align-self: baseline;
  /* box-shadow: 1px 1px 5px #E0E0E0; */
  display: inline-block;
  margin: 0;
}

a.guide-link {
    display: block;
    font-size: x-small;
    color: white;
    text-align: right;
}

.result-text-negative {
    color: white;
    font-weight: bold;
    background-color: #E45B5B;
    border-radius: 5px;
    padding: .5em;
    margin: 1em 0;
}


.result-text-negative > div {
  float:left;
  min-height: 100%;
}


.result-text-negative > div::before {
    content: "\2717";
    padding: 0 .25em;
    font-size: 3em;
    line-height: 1em;
}


.result-text-positive {
    color: white;
    font-weight: bold;
    background-color: #5AC45E;
    border-radius: 5px;
    padding: .5em;
    margin: 1em 0;
}


.result-text-positive > div {
  float:left;
  min-height: 100%;
}

.result-text-positive > div::before{
  content:"\2713";
  padding: 0 .25em;
  font-size: 3em;
  line-height: 1em;
}


/*****************************
*                            *
*        QUESTIONS           *
*                            *
*****************************/

.question-set {
  display: flex;
  flex-direction: column;
}

div.indvar-question {
  margin: 2em 0 2em;
  display: flex;
  align-items: baseline;
  margin: 2em 0 2em;

}

input.input-checkbox {
  margin-right: 1em;
}

.question-set input {
  padding: 0 10px 10px 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.question-set button {
  align-self: center;
}

.question-set input:focus,
.question-set input.focus {
  border-bottom: solid 2px #969696;
  outline: none;
}

.question {
  /* font-weight: bold; */
  margin-bottom: 0px;
}

div.add-option {
  margin-bottom: 2em;
}


/*****************************
*                            *
*         VIEW EXP           *
*                            *
*****************************/

.subsection-v .subsection-v {
  box-shadow: none;
}

.subsection-v.view-exp {
  border-radius: 16px;
  padding-bottom: 40px;
}

.view-exp-container {
  box-shadow:none;
  margin-left:40px;
}

.my-exps h1 {
  text-align: center;
}


.my-exps p {
  font-size: 20px;
}

/*****************************
*                            *
*          NEW EXP           *
*                            *
*****************************/

.subsection-v {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1em;
  padding: 5px;
  box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 16px;
  background-color: hsla(0, 0%, 100%, 0.8);
}

.subsection-v.my-exps {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1em;
  box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 16px;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 30px;
}

.my-exps thead {
  border-bottom: 1px solid black;
  /* padding-bottom: 10px; */
  /* line-height: 3em; */
}

.my-exps table {
  width: 100%;
}

section.guide {
  margin: 2em 0;
}

div.question-set {
  margin: 2em 0;
}

.new-exp-section {
  min-height: 50vh;
  padding: 20px;
  /* border-radius: 20px; */
  /* border: 2px solid #3888DF */
}

.progress-section h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: left;
  margin-top: 0px;
}

.subsection-h {
  display: flex;
  justify-content: center;
}

.name-container, .dep-var-container {
  min-height: 40vh;
}

.run-open-exps-container {
  padding: 3px;
}

.categories, .added-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/*****************************
*                            *
*      ChartContainer        *
*                            *
*****************************/

div.chart-container-bar {
  margin: 3em 0em;
  display: block;
}


div.chart-container-histogram {
  margin: 3em 0em;
  display: inline;
}

div.rd3-basic-chart {
  margin: 3em 0em;
  display: flex;
  flex-direction: column;
}

.rd3-chart {
  align-self:center;
}

.rd3-basic-chart text {
  text-transform: capitalize;
}

/*****************************
*                            *
*         HELP TEXT          *
*                            *
*****************************/

.help-text {
  display: inline-block;
  margin-left: 30px;
  font-size: 12px;
  position: absolute;
  background: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.help-glyph::before {
  content: '\2139';
  color: #008E9E;
  margin-left: 5px;
}
/*****************************
*                            *
*          SAMPLE            *
*                            *
*****************************/

.run-exp-container {
  padding: 20px 20px;
  background-color: hsla(0, 0%, 95%, 1.0);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  box-shadow: 1px 1px 5px #BEBEBE;

}

button.set-button {
  align-self: center;
}

span.sample-taken, span.sample-option {
  display: inline-block;
}

span.sample-option {
  align-self: flex-end;
}

div.sample-option-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px 0;
}

p.sample-prompt {
  margin: 40px 0;
  font-size: 1.5em;
}

span.option-name {
  color: #3888DF;
}

input.input-radio {
  height: 16px;
  font-size: 1em;
  width: 16px;
  margin-right: 8px;
  display: inline-block;
}

input.input-radio:first {
  margin-left: 0;
}

/*input[type=checkbox].input-radio {
  width: 24px;
}*/

.sample-container {
  margin-bottom: 3em;
}

span.sample-option {
  font-size:1em;
}

span.samples-taken {
  font-size: 1em;
  margin-left: 1em;
  background-color: hsla(0, 0%, 20%, 1.0);
  padding: 3px 8px;
  border-radius: 5px;
  color: white;
  display: inline-block;
}

.run-exp-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sample-measure-container {
  border-radius: 16px;
  background-color: hsla(0, 0%, 95%, 1.0);
  padding-bottom: 40px;
}

.input-slider div {
  text-align: center;
}

.input-slider input {
  width: 66%;
}

.input-slider label {
  text-align: center;
  display: inline-block;
  width: 33%;
  padding: 0 10px;
}

.sample-depvar-question {
  font-size: 1.5em;
}

.sample-depvar-name {
  color: #3888DF;
}

.sample-measure-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.sample-measure-submit-container {
  display: flex;
  flex-direction: row-reverse;
}

.sample-measure-submit-inner-container {
  display: flex;
  flex-direction: column;
}

.sample-measure-submit-inner-container span {
  margin-left: 10px;
}

span.measure-unit {
    font-size: 1.5em;
    margin-left: .5em;
    color: #3888DF;
}
